.hs-content {
  background: var(--css-black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 272px;
  width: 100%;
  color: var(--css-white);
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.hs-img-frame {
  width: 212px;
  height: 212px;
}

.hs-img {
  width: 100%;
  height: 100%;
}
